$blue: rgb(53, 124, 138);

.detail {
    margin: 0;
    padding: 1rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: Verdana, sans-serif;
}

.detail-title {
    font-size: 48px;
    font-weight: 100;
    color: white;
    background-color: $blue;
    border-radius: 10px;
    padding: 10px 20px;
}

.detail-stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;

    h2 {
        font-weight: 100;
        color: grey;
    }

    p {
        text-align: center;
        font-weight: bold;
    }
}

.detail-stats-element {
    border: solid $blue;
    border-radius: 20px;
    padding: 0 20px;
}

.line-chart {
    padding-right: 67px;
}

.home-link {
    padding: 30px 0;
    a {
        font-size: 20px;
        font-weight: 100;
        color: $blue;
        background-color: white;
        border-radius: 10px;
        padding: 10px 20px;
        text-decoration: none;
        &:hover {
            color: white;
            background-color: $blue;
        }
    }
}