<div class="dashboard">
    <h1 class="dashboard-title">Medals per Country</h1>
    <div class="dashboard-stats">
        <div class="dashboard-stats-element">
            <h2>Number of JOs</h2>
            <p>{{ numberOfJOs }}</p>
        </div>
        <div class="dashboard-stats-element">
            <h2>Number of countries</h2>
            <p>{{ numberOfCountries }}</p>
        </div>
    </div>
    <ngx-charts-pie-chart
        (window:resize)="onResize($event)"
        [view]="view"
        [results]="results"
        [gradient]="gradient"
        [legend]="showLegend"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        [trimLabels]="trimLabels"
        (select)="onSelect($event)"
    >
        <ng-template #tooltipTemplate let-model="model">
            {{ model.name }}
            <div class="dashboard-pie-medals">
                <img src="./assets/images/medal.png" alt="Medal image"/>
                {{ model.value }}
            </div>
        </ng-template>
    </ngx-charts-pie-chart>
</div>